<!DOCTYPE html>

<html>
    <head>
        <!-- settings: -->
        <meta charset="utf-8">
        <title>Agenda - Home</title>
        
        <!-- CSS main file: -->
        <link rel="stylesheet" type="text/css" href="/styles/account.css">
        
        <!-- CSS general purpose files: -->
        <link rel="stylesheet" type="text/css" href="/styles/env.css">
        <link rel="stylesheet" type="text/css" href="/styles/fancy.css">
        <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="/styles/structure.css">
        <link rel="stylesheet" type="text/css" href="/styles/notification-box.css">
        
        <!-- meta viewport tag: -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- icons script: -->
		<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
        
        <!-- fonts: -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <header class="header">
                <h1>Agenda</h1>
            </header>
            <nav class="nav">
                <nav class="nav-responsive">
                    <div class="nav-responsive__button-container">
                        <div class="nav-responsive__button fas fa-bars"></div>
                    </div>
                    <div class="nav-responsive__a-container">
                        <a href="/" class="nav-responsive__a"><i class="fas fa-home"></i>Home</a>
                        <a href="/onlyloggedin" class="nav-responsive__a"><i class="fas fa-book"></i>Only logged-in</a>
                        <a href="/account" class="nav-responsive__a active"><i class="fas fa-user"></i><%= username %></a>
                    </div>
                </nav>
                <nav class="nav-normal">
                    <a href="/" class="nav-normal__a"><i class="fas fa-home"></i>Home</a>
                    <a href="/onlyloggedin" class="nav-normal__a"><i class="fas fa-book"></i>Only logged-in</a>
                    <a href="/account" class="nav-normal__a nav-normal__a-right active"><i class="fas fa-user"></i><%= username %></a>
                </nav>
            </nav>
            <main class="main">
                <div class="section">
                    <h2 class="fancy__title">Personal information</h2>
                    <div class="form">
                        <h4 class="fancy__input-title form__title">username:</h4>
                        <div class="fancy__fake-input"><%= username %></div>
                        <h4 class="fancy__input-title form__title">e-mail:</h4>
                        <div class="fancy__fake-input"><%= email %></div>
                    </div>
                </div>
                <div class="section">
                    <h2 class="fancy__title">Change password</h2>
                    <form class="form" action="/changepassword" method="POST" id="changepassword-form">
                        <div class="notification" id="changepassword-notification" style="display: none;">
                            <h4 class="notification__title">Notification</h4>
                            <p class="notification__description">...</p>
                        </div>
                        <h4 class="fancy__input-title form__title">Enter your current password:</h4>
                        <input type="password" class="fancy__input" name="currentpassword" required="true" id="currentpassword">
                        <h4 class="fancy__input-title form__title">Enter your new password:</h4>
                        <input type="password" class="fancy__input" name="newpassword" required="true" id="newpassword">
                        <input type="submit" class="fancy__button-green form__submit" value="Change password">
                    </form>
                </div>
                <div class="section">
                    <h2 class="fancy__title">Delete account</h2>
                    <form class="form" action="/deleteaccount" method="POST" id="deleteaccount-form">
                        <div class="notification" id="deleteaccount-notification" style="display: none;">
                            <h4 class="notification__title">Notification</h4>
                            <p class="notification__description">...</p>
                        </div>
                        <h4 class="fancy__input-title form__title">Enter your password to confirm: </h4>
                        <input type="password" class="fancy__input" name="password" required="true" id="password">
                        <input type="submit" class="fancy__button-red form__submit" value="Delete account">
                    </form>
                </div>
                <div class="section">
                    <p class="announcement">Everything ready for today? <a href="/signout">Sign out</a>.</p>
                </div>
            </main>
            <footer class="footer">
                Created by HopFr0g
            </footer>
        </div>
        
        <script src="/scripts/structure.js"></script>
        <script src="/scripts/account.js" type="module"></script>
    </body>
</html>