<!DOCTYPE html>

<html>
    <head>
        <!-- settings: -->
        <meta charset="utf-8">
        <title>Login System - Sign in</title>
        
        <!-- CSS main file: -->
        <link rel="stylesheet" type="text/css" href="/styles/sign.css">
        
        <!-- CSS general purpose files: -->
        <link rel="stylesheet" type="text/css" href="/styles/env.css">
        <link rel="stylesheet" type="text/css" href="/styles/fancy.css">
        <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="/styles/structure.css">
        <link rel="stylesheet" type="text/css" href="/styles/notification-box.css">
        
        <!-- meta viewport tag: -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- icons script: -->
		<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
        
        <!-- fonts: -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <header class="header">
                <h1>Login System</h1>
            </header>
            <nav class="nav">
                <nav class="nav-responsive">
                    <div class="nav-responsive__button-container">
                        <div class="nav-responsive__button fas fa-bars"></div>
                    </div>
                    <div class="nav-responsive__a-container">
                        <a href="/" class="nav-responsive__a"><i class="fas fa-home"></i>Home</a>
                        <a href="/onlyloggedin" class="nav-responsive__a"><i class="fas fa-book"></i>Only logged-in</a>
                    </div>
                </nav>
                <nav class="nav-normal">
                    <a href="/" class="nav-normal__a"><i class="fas fa-home"></i>Home</a>
                    <a href="/onlyloggedin" class="nav-normal__a"><i class="fas fa-book"></i>Only logged-in</a>
                </nav>
            </nav>
            <main class="main">
                <h2 class="fancy__title">Sign in</h2>
                <form class="form" action="/signin" method="POST" id="signin-form">
                    <div class="notification" id="signin-notification" style="display: none;">
                        <h4 class="notification__title"></h4>
                        <p class="notification__description"></p>
                    </div>
                    <h4 class="fancy__input-title form__title">Username:</h4>
                    <input type="text" class="fancy__input" name="username" required="true" id="username">
                    <h4 class="fancy__input-title form__title">Password:</h4>
                    <input type="password" class="fancy__input" name="password" required="true" id="password">
                    <p class="announcement">You don't have an account? <a href="/signup">Sign up</a>.</p>
                    <p class="announcement">Can't log in? Go to <a href="/forgotpassword">forgot password</a>.</p>
                    <input type="submit" class="fancy__button-green form__submit" value="Sign in">
                </form>
            </main>
            <footer class="footer">
                Created by HopFr0g
            </footer>
        </div>
        
        <script src="/scripts/structure.js"></script>
        <script src="/scripts/signin.js" type="module"></script>
    </body>
</html>