<!DOCTYPE html>

<html>
    <head>
        <!-- settings: -->
        <meta charset="utf-8">
        <title>Agenda - My tasks</title>
        
        <!-- CSS main file: -->
        <link rel="stylesheet" type="text/css" href="/styles/tasks.css">
        
        <!-- CSS general purpose files: -->
        <link rel="stylesheet" type="text/css" href="/styles/env.css">
        <link rel="stylesheet" type="text/css" href="/styles/fancy.css">
        <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="/styles/structure.css">
        <link rel="stylesheet" type="text/css" href="/styles/notification.css">
        <link rel="stylesheet" type="text/css" href="/styles/loading-screen.css">
        
        <!-- meta viewport tag: -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- icons script: -->
        <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
        
        <!-- fonts: -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <header class="header">
                <h1>Agenda</h1>
            </header>
            <nav class="nav">
                <nav class="nav-responsive">
                    <div class="nav-responsive__button-container">
                        <div class="nav-responsive__button fas fa-bars"></div>
                    </div>
                    <div class="nav-responsive__a-container">
                        <a href="/" class="nav-responsive__a"><i class="fas fa-home"></i>Home</a>
                        <a href="/collections" class="nav-responsive__a"><i class="fas fa-book"></i>My collections</a>
                        <a href="/tasks" class="nav-responsive__a active"><i class="fas fa-clock"></i>Tasks</a>
                        <a href="/bots" class="nav-responsive__a"><i class="fas fa-robot"></i>Bots</a>
                        <% if (typeof username == "string") { %>
                            <a href="/account" class="nav-responsive__a"><i class="fas fa-user"></i><%= username %></a>
                        <% } else { %>
                            <a href="/signin" class="nav-responsive__a"><i class="fas fa-user"></i>Sign in</a>
                        <% } %>
                    </div>
                </nav>
                <nav class="nav-normal">
                    <a href="/" class="nav-normal__a"><i class="fas fa-home"></i>Home</a>
                    <a href="/collections" class="nav-normal__a"><i class="fas fa-book"></i>My collections</a>
                    <a href="/tasks" class="nav-normal__a active"><i class="fas fa-clock"></i>My tasks</a>
                    <a href="/bots" class="nav-normal__a"><i class="fas fa-robot"></i>Bots</a>
                    <% if (typeof username == "string") { %>
                        <a href="/account" class="nav-normal__a nav-normal__a-right"><i class="fas fa-user"></i><%= username %></a>
                    <% } else { %>
                        <a href="/signin" class="nav-normal__a nav-normal__a-right"><i class="fas fa-user"></i>Sign in</a>
                    <% } %>
                </nav>
            </nav>
            <main class="main">
                <select class="collection-selector fancy__select"></select>
                <button class="create-button fancy__button-green">Add a new entry</button>
                <!--
                <div id="685458" class="reg fancy__box">
                    <div class="reg__moment">
                        <h2 class="reg__moment-date">1492-10-12</h2>
                        <h4 class="reg__moment-time">12:00</h4>
                        <h4 class="reg__moment-repeat">Cada año</h4>
                    </div>
                    <div class="reg__info">
                        <h3 class="reg__info-title">Día del respeto a la diversidad cultural</h3>
                        <p class="reg__info-description">Este día promueve la reflexión histórica, el diálogo intercultural ...</p>
                    </div>
                    <div class="reg__button-container">
                        <button class="reg__button-edit fancy__button-yellow"><i class="fas fa-edit" aria-hidden="true"></i></button>
                        <button class="reg__button-remove fancy__button-red"><i class="fas fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                -->
                <div class="loading-screen" style="display: none">
                    <img src="/img/loading.gif">
                </div>
            </main>
            <footer class="footer">
                Put your footer here
            </footer>
        </div>
        
        <div class="notification" style="display: none">
            <div class="notification__window">
                <h3 class="notification__window-title"></h3>
                <p class="notification__window-description"></p>
                <button class="notification__window-button fancy__button-green"></button>
                <p class="notification__window-alternativebutton" style="display: none"></p>
            </div>
        </div>
        
        <script src="/scripts/structure.js"></script>
        <script src="/scripts/tasks.js" type="module"></script>
    </body>
</html>