.create-button {
    height: 40px;
    width: 50%;
    max-width: 300px;
    min-width: 256px;
    
    display: block;
    
    position: relative;
    left: 0;
    right: 0;
    margin: 16px auto;
}

.collection {
    width: 100%;
    max-width: 800px;
    
    padding: 10px;
    
    position: relative;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.collection__input {
    height: 48px;
    width: calc(100% - 126px);
    
    margin: 5px;
}

.collection__button-save, .collection__button-remove {
    width: 48px;
    height: 48px;
    
    margin: auto 5px;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}